# dati pesanti — non vanno su GitHub
data/frames/
data/dataset_tagliato/
*.mp4
*.avi

# output training
runs/
runs_timesformer/

# Python
__pycache__/
*.pyc
*.pyo
.DS_Store

# checkpoint PyTorch
*.pt
*.pth

# PyInstaller build output
build/
dist/
*.spec.bak
__pycache__/
*.pyc